
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
$static-size: 2.75rem;
#world-stats{
  position: fixed;
  top: $static-size;
  right: $static-size;
  width: $static-size;
  height: $static-size;
  cursor: pointer;
  z-index: 999999;
  background: url("../assets/images/world-icon.png") center center;
  background-size: cover;
  img {
    width: 100%;
    height: $static-size;
  }
  
  &:after {
    content: "GLOBAL STATS";
    font-size: 10px;
    color: #000;
    font-weight: 400;
    position: absolute;
    bottom: -24px;
    text-align: center;
    left: 3px;
    line-height: .95;
  }
  &:hover{
    background: url("../assets/images/world-icon-blue.png") center center;
    background-size: cover;
    &:after{
      color: blue;
    }
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'global/global.scss';
@import 'main/main.scss';
@import 'principle/principle.scss';
// endinjector