* { 
  box-sizing: border-box; 
  font-family: 'Source Sans Pro', sans-serif;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
    display: block;
}
input, textarea, button, select {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
textarea {
    overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

figure {
    position: relative;
}
figure img, figure object, figure embed, figure video {
    max-width: 100%;
    display: block;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}